{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "no-unused-expressions": ["warn"],
    "import/extensions": ["off"],
    "react/require-default-props": ["off"],
    "no-throw-literal": ["warn"],
    "consistent-return": ["warn"],
    "no-console": ["error", { "allow": ["error"] }],
    "sort-keys": [
      "error",
      "asc",
      { "caseSensitive": true, "natural": false, "minKeys": 2 }
    ],
    "no-use-before-define": ["off"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
